{% extends 'blog/base.html' %}

{% block content %}

<div class="card">

    <h1>Acerca de mí</h1>

    <p>
        Hola, mi nombre es Magali y soy la creadora de este proyecto, esta pagina web sobre plantas y flores.
        Este blog fue desarrollado con Django como trabajo final.
    </p>

    <p>
        Incluye clientes, productos, pedidos y un sistema de publicaciones.
    </p>

    <p>
        Gracias por visitar 🌱 y recuerden no perder el contacto con la naturaleza. 
    </p>

</div>

{% endblock %}