{% extends 'blog/base.html' %}

{% block content %}

<h1>🌿 Plantas y Flores Disponibles</h1>

{% if posts %}

<div style="display:flex; flex-wrap:wrap; gap:20px;">

    {% for post in posts %}

    <div class="card" style="width:300px;">

        {% if post.imagen %}
            <img src="{{ post.imagen.url }}" width="100%">
        {% endif %}

        <h2>{{ post.titulo }}</h2>

        <h4>{{ post.subtitulo }}</h4>

        <p>
            Publicado: {{ post.fecha }}
        </p>

        <a class="boton" href="{% url 'detalle_post' post.id %}">
            Leer más
        </a>

    </div>

    {% endfor %}

</div>

{% else %}

<h2>No hay páginas aún</h2>

{% endif %}

{% endblock %}